* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #97a991;
    box-shadow: 0 5px 20px rgba(0, 2, 0, 0.795);
    transition: box-shadow 0.10s ease, transform 0.40s ease;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none; 
    padding: 0;  
    margin: 0;  
    display: flex;  
}

nav li {
    margin-right: 20px; 
    font-size: 20px; 
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    text-decoration: none; 
    color: #ffffff;  
}

nav a:hover  {
    color:  #838C3E;
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 455px;
    border-radius: 15px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
 } 

 .posicao_banner {
    background-color: #97a991;
 }

 .banner:hover {
    opacity: 1;
 }

 .welcome {
    font-size: 25px;
 }

 .texto_inicial {
    text-align: justify;
    padding: 50px 300px 50px 300px; 
    color: #ffffff;
    font-size: 20px;
}

.bloco-redes {
    background-color: #ffffff;
}

.redes {
    padding-top: 40px;
    text-align: center;
    color: #97a991;
    font-size: 25px;
}

.redes-sociais a {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.redes-sociais {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.img-redes {
    margin-left: 30px;
}

.sobre-nos-titulo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    color: #97a991;
}

.sobre-nos {
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
}

.espaco {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #97a991;
    color: #ffffff;
}

.area-interna {
    width: 50%;
    padding-top: 30px;
    margin-left: 300px;
}

.titulo-card {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #97a991;
}

.card-section {
    display: flex;
    align-items: center;
}

.cardapio {
    display: flex;
    text-align: justify;
}

li.cardapio {
    margin-bottom: 20px; 
    line-height: 1.5; 
    display: flex;
    flex-direction: column; 
  }
  
  li.cardapio p {
    margin-top: 5px; 
    font-size: 0.9rem; 
    color: #8C8C43;
  }
  
  .conheca-card {
    text-align: left; 
    max-width: 400px; 
    margin: 0 auto; 
  }

  .formulario-contato {
    background-color: #fff;
    padding: 40px;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-contato h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #97a991;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #97a991;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #97a991; 
    outline: none;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #97a991;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #8C8C43;
}

button[type="submit"] {
    align-self: center;
    width: 40%;
}

.contato-zen {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #97a991;
    font-size: 30px;
}

.contato-color {
    background-color: #dcdcdc;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contato {
    text-align: center;
    margin-bottom: 30px;
    color: #97a991;
    font-size: 22px;
}

.horario {
    text-align: center;
    margin-bottom: 30px;
    color: #97a991;
    font-size: 22px;
}

.localizacao { 
    text-align: center;
    margin-bottom: 30px;
    color: #97a991;
    font-size: 22px;
}

.mapa {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

footer {
    padding-top: 40px;
    text-align: center;
    background-color: #97a991;
    height: 80px;
    color: #ffffff;
}